
 .todo-input{
  margin-top: 20px; 
  width:250px;
  height: 50px;
  font-size: 20px;
} 
.container{
    margin:0 auto; 
    width: 350px;
    height:70px;  
    align-content: center;
   
}

body{
    background-color: darkolivegreen;
}
p{
    color: black;
   font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#btn{
    margin-top: 20px; 
    
    width:50px;
    height: 50px; 
    margin-right: 0px;  
}
li{
    font-size: 20px;
}
button{
    border-radius: 8px;
    
}