
 .todo-input{
  margin-top: 20px; 
  width:300px;
  height: 50px;
  font-size: 20px;
} 
.container{
    margin:0 auto; 
    margin-left: 25%;
    width: 800px;
    height: 100px;  
    align-content: center;
   
}

.todos-list-form{
    width: 100%;
    height: 100px;
     border-radius: 50px;
}
body{
    background-color: darkolivegreen;
}
p{
    color: black;
   font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#btn{
    margin-top: 20px; 
    
    width:70px;
    height: 50px; 
    margin-right: 0px;  
}
li{
    font-size: 30px;
}
button{
    border-radius: 8px;
    
}